{% set default_header_background_url  = pages.find("/home").header.header_background_url %}
{% set default_logo_url               = pages.find("/home").header.logo_url %}

<style type="text/css" id="rescue_custom_css">
.home-header-bg {
  background:url( '{{ page.header.header_background_url|default(default_header_background_url) }}' ) #ffffff no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* for background-size:cover replacement on iOS devices */
@media only screen and (max-width: 40em) {
  .home-header-bg {
    background-attachment: scroll;
  }
}
@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
  .home-header-bg {
    -webkit-background-size: auto 150%;
    background-attachment: scroll;
  }
}
@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {
  .home-header-bg {
    -webkit-background-size: 150% auto;
    background-attachment: scroll;
  }
}

.bg-image-header {
  background:url( '{{ page.header.header_background_url|default(default_header_background_url) }}' ) center bottom #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.bg-center-center {
  background-position: center center;
}

.site-branding {
  margin: 0 auto;
  display: table;
  padding-top: 2em;
}
</style>

<div class="home-header-bg clearfix">
  <div class="site-branding">
    <a href="{{ base_url_absolute }}">
      <img class="logo" src="{{ page.header.logo_url }}" alt="{{ page.header.logo_url|split('/')|last|split('.')|first }}">
    </a>
  </div>
  <div class="hero-widgets-wrap">
    <div class="row">
      <div class="large-8 large-centered columns">
        <aside id="text-3" class="widget widget_text">
          <h1 class="widget-title">{{ page.header.header_title }}</h1>
          <div class="textwidget">
            <p>{{ page.header.header_description }}</p>
            <p>
              {% for button in page.header.header_buttons %}
              <a href="{{ button.url }}" class="{{ button.class }}">{{ button.text }}</a>
              {% endfor %}
            </p>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
